<?xml version="1.0" encoding="UTF-8" ?>
<Configuration>
    <Properties>
        <Property name="LOG_PATTERN">%d{yyyy-MM-dd'T'HH:mm:ss.SSSZ} %highlight{%p}{FATAL=red, ERROR=red, WARN=yellow, INFO=green, DEBUG=cyan, TRACE=blue} [kuban-weather-test] [%logger{5}]:%msg%n</Property>
        <Property name="LOG_DIR">logs</Property>
        <Property name="LOG_JSON_FILE">application.log.json</Property>
        <Property name="JSON_LAYOUT_FILE">jsonLayout.json</Property>
    </Properties>

<!--    <Console name="SlowConsole" target="SYSTEM_OUT">-->
<!--        <PatternLayout disableAnsi="false"  pattern="%highlight{%d{HH:mm:ss.SSS} %-5level %logger{36}.%M() @%L - %msg%n}{FATAL=red blink, ERROR=red, WARN=yellow bold, INFO=black, DEBUG=green bold, TRACE=blue}"/>-->
<!--    </Console>-->

    <Appenders>
        <Console name="STDOUT">
            <PatternLayout disableAnsi="false" pattern="${LOG_PATTERN}"/>
        </Console>
        <RollingFile name="JSON" filename="${LOG_DIR}/${LOG_JSON_FILE}" filePattern="${LOG_DIR}/${LOG_JSON_FILE}%d{yyyy-MM-dd}%i.gz" append="false">
            <JsonTemplateLayout eventTemplateUri="classpath:./${JSON_LAYOUT_FILE}"/>
            <Policies>
                <TimeBasedTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="10 MB" />
            </Policies>
            <DefaultRolloverStrategy max="5"/>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Logger name="org.springframework.boot" level="INFO">
            <AppenderRef ref="STDOUT"/>
        </Logger>
        <Logger name="ru.kubankredit.weather_task.service" level="INFO" additivity="false">
            <AppenderRef ref="STDOUT"/>
        </Logger>
        <Logger name="ru.kubankredit.weather_task.controller" level="DEBUG" additivity="false">
            <AppenderRef ref="STDOUT"/>
        </Logger>
        <Root level="INFO">
            <AppenderRef ref="STDOUT"/>
            <AppenderRef ref="JSON"/>
        </Root>
    </Loggers>
</Configuration>